<div class="question-card-outer" ng-class="{front:question.flipped, back:!question.flipped}" ng-click="question.flipped || game.chooseQuestion(question)">
    <div class="question-card-inner" ng-hide="question.flipped">
        <span class="category">{{ question.category }}</span>
    </div>

    <div class="question-card-inner" ng-show="question.flipped">
        <p>{{ question.question }}</p>
        <ul class="list-unstyled">
            <li ng-repeat="answer in question.answers">
                <input type="radio" name="answer" id="{{$index}}" ng-click="game.answerSelected(answer)" />
                <label for="{{$index}}">{{ answer.answer }}</label>
            </li>
        </ul>
    </div>


</div>
