<div ng-controller="GameCtrl as game">

    <h1>Game</h1>

    <div class="players">
        <div class="player well col-md-5" ng-class="{'col-md-offset-2':$last}" ng-repeat="player in game.players">

            <div class="well" ng-show="player.name">
                <h1 ng-show="player.name">
                    {{ player.name }}
                    <span ng-show="player.gender" ng-bind-html="player.genderIcon() | unsafe"></span>
                </h1>
            </div>

            <form>
                <div class="form-group">
                    <label for="name-{{$index}}">Name</label>
                    <input type="text" name="name" id="name-{{$index}}" class="form-control" ng-model="player.name"/>
                </div>

                <div class="form-group">
                    <label for="gender-{{$index}}">Gender</label>
                    <select name="gender" class="form-control" id="gender-{{$index}}" ng-model="player.gender">
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                    </select>
                </div>

            </form>
        </div>
    </div>

</div>
